/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > *,
body > * > * > * > * > * > *,
body > * > * > * > * > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before,
body > * > * > * > * > * > *::before,
body > * > * > * > * > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * > * > * > *::before {
  top: 0;
  left: 0;
}

body > * > * > * > * > *::before {
  top: 0;
  left: 0;
}

body > * > * > * > * > * > *::before {
  top: 0;
  left: 0;
}

body > * > * > * > * > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

body > * > * > * > * {
  background: rgba(0, 0, 255, 0.2);
  box-shadow: inset 0 0 0 2px blue;
}

body > * > * > * > *::before {
  color: white;

  background: blue;
}

body > * > * > * > * > * {
  background: rgba(128, 0, 128, 0.2);
  box-shadow: inset 0 0 0 2px purple;
}

body > * > * > * > * > *::before {
  color: white;

  background: purple;
}

body > * > * > * > * > * > * {
  background: rgba(91, 170, 121, 0.2);
  box-shadow: inset 0 0 0 2px #5baa79;
}

body > * > * > * > * > * > *::before {
  color: white;

  background: #5baa79;
}

body > * > * > * > * > * > * > * {
  background: rgba(222, 184, 135, 0.2);
  box-shadow: inset 0 0 0 2px burlywood;
}

body > * > * > * > * > * > * > *::before {
  color: white;

  background-color: burlywood;
}


.main-header::before {
  content: ".main-header";
  top: auto;
  bottom: 0;
}

.main::before {
  content: ".main";
}

.container::before {
  content: ".container";
}

.content-wrapper::before {
  content: ".content-wrapper";
}

.main-header::before {
  content: ".main-header";
}

main.container::before {
  content: ".container";
  top: -28px;
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.header-navigation::before {
  content: ".header-navigation";
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}

.main-navigation::before {
  content: ".main-navigation";
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}

.header-navigation-wrapper::before {
  content: ".header-navigation-wrapper";
}

.main-navigation-wrapper::before {
  content: ".main-navigation-wrapper";
}

.slider::before {
  content: ".slider";
}

.popular::before {
  content: ".popular";
}

.logo::before {
  content: ".logo";
}

.popular-list::before {
  content: ".popular-list";
}

.popular-item::before {
  content: ".popular-item";
}

.services::before {
  content: ".services";
}

.services-wrapper::before {
  content: ".services-wrapper";
}

.brands::before {
  content: ".brands";
}

.brands-list::before {
  content: ".brands-list";
}

.brands-item::before {
  content: ".brands-item";
}

.communication::before {
  content: ".communication";
}

.about::before {
  content: ".about";
}

.contact::before {
  content: ".contact";
}

.footer-autorized::before {
  content: ".footer-autorized";
}

.autorized-menu::before {
  content: ".autorized-menu";
}

.footer-conditions::before {
  content: ".footer-conditions";
}

.footer-conditions p::before {
  content: ".footer-conditions p";
}

.conditions-list::before {
  content: ".conditions-list";
}

.footer-social::before {
  content: ".footer-social";
}

.social-list::before {
  content: ".social-list";
}

.social-item::before {
  content: ".social-item";
}

.logo-academy::before {
  content: ".logo-academy";
}


.services-controls::before {
  content: ".services-controls";
}

.services-list::before {
  content: ".services-list";
}


.search::before {
  content: ".search";
}

.user-menu::before {
  content: ".user-menu";
}

.site-navigation::before {
  content: ".site-navigation";
}

.user-navigation::before {
  content: ".user-navigation";
}

.main-header-logo::before {
  content: ".main-header-logo";
}

.features::before {
  content: ".features";
}

.features-list::before {
  content: ".features-list";
}

.feature-item::before {
  content: ".feature-item";
  top: auto;
  bottom: 0;
}

.index-columns::before {
  content: ".index-columns";
}

.news::before {
  content: ".news";
}

.gallery::before {
  content: ".gallery";
}

.contacts::before {
  content: ".contacts";
}

.appointment::before {
  content: ".appointment";
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}

.breadcrumbs::before {
  content: ".breadcrumbs";
}

.page-title::before {
  content: ".page-title";
}

.catalog-columns::before {
  content: ".catalog-columns";
  top: -28px;
}

.filters::before {
  content: ".filters";
}

.catalog::before {
  content: '.catalog';
}

.catalog-list::before {
  content: ".catalog-list";
}

.catalog-item::before {
  content: ".catalog-item";
  top: auto;
  bottom: 0;
}

.pagination-list::before {
  content: ".pagination-list";
}

.product-photos::before {
  content: ".product-photos";
}

.product-info::before {
  content: ".product-info";
}
